/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2015, 5:00:48 PM
    Author     : sang
*/
@media screen and (min-width:1px) and (max-width:478px)
{
    #menu {display: none;}
    #slideshow{display: none;}
    .top-content .top-content-left {float: left;margin-top: 15px;padding-left: 5px;margin-top: 47px;}
.top-content .top-content-logo {float: left;margin-left: 85px;padding-right: 5px;margin-top: 22px;display: none;}
.top-content .top-content-right  {float:right;margin-top: 41px;display: none;}
    #houses .houses_list {width: 100%;margin: 0 auto;display: table;}
    #houses .houses_list .box-house {width: 100%;height: auto;border-radius: 5px;margin-top: 45px;background: #fff;float: none;margin-left:0px;}
    #houses .houses_list .box-house .houses-images { width:100%;height: auto;float: none;}
    #houses .houses_list .box-house .houses-images img {width: 95%;margin-left: 0.65em;margin-top: 0.65em;}
    #houses .houses_list .box-house .houses-title {width:100%;height: auto;float: none;padding-bottom: 15px;}
    #contact .container-contact {width: 100%;display: table;margin: 0 auto;}
    #contact .container-contact .container-contact-left {margin-right: 1.06383%; width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact {width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box {width:100%;height: auto;background: #fff;transition: all 0.5s;transform: translate(0px,0px);margin-right: 10px;margin-bottom: 60px;margin-left:0px;float: none;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact {width: 50%;height: 188px;margin: 0 auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact img {width: 100%;border-radius: 50%;margin-top: 18px;}
#contact .container-contact .container-contact-right .title-contact_-title {text-align: center;}
#contact .container-contact .container-contact-right .box-contact-right h1{text-align: center;}
.title-contact{width:100%;text-align: center;}

#contact .container-contact .container-contact-right { width: 100%;height: auto;}
#blog .container-blog .blog-show{float: none;width: 100%;}

#blog .container-blog .blog-small {background: #171c26 none repeat scroll 0 0;float: none;min-height: 222px;width: 100%;}

#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    float:none;width:100%;
}
#footer .container-footer .footer-top-left{display: none;}
#footer .container-footer .footer-top-right{float: none;width: 96%;margin-left: 5px;margin-right: 5px;}
#footer .container-footer .footer-content {display: none;}
   
}
@media screen and (min-width:477px) and (max-width:639px){
    #menu {display: none;}
    #slideshow{display: none;}
    .top-content .top-content-left {float: left;margin-top: 15px;padding-left: 5px;margin-top: 47px;}
.top-content .top-content-logo {float: left;margin-left: 85px;padding-right: 5px;margin-top: 22px;display: none;}
.top-content .top-content-right  {float:right;margin-top: 41px;display: none;}
    #houses .houses_list {width: 100%;margin: 0 auto;display: table;}
    #houses .houses_list .box-house {width: 48%;height: auto;border-radius: 5px;margin-top: 45px;background: #fff;float: left;margin-left:0.6em;}
    #houses .houses_list .box-house .houses-images { width:100%;height: auto;float: none;}
    #houses .houses_list .box-house .houses-images img {width: 100%;}
    #houses .houses_list .box-house .houses-title {width:100%;height: auto;float: none;}
    #contact .container-contact {width: 100%;display: table;margin: 0 auto;}
    #contact .container-contact .container-contact-left {margin-right: 1.06383%; width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact {width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box {width:30%;height: auto;background: #fff;transition: all 0.5s;transform: translate(0px,0px);margin-right: 10px;margin-bottom: 60px;margin-left:0px;float: left;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact {width: 50%;height: 188px;margin: 0 auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact img {width: 100%;border-radius: 50%;margin-top: 18px;}
.title-contact{width:100%;text-align: center;}

#contact .container-contact .container-contact-right { width: 100%;height: auto;}
#blog .container-blog .blog-show{float: none;width: 100%;}

#blog .container-blog .blog-small {background: #171c26 none repeat scroll 0 0;float: none;min-height: 222px;width: 100%;}

#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    float:none;width:100%;
}

#blog .container-blog .blog-small .box-blog-small .title-box-blog-smail {
    float: left;
    height: auto;
    width: 100%;
}
.blog-small .box-blog-small {
    display: table;
    transition: all 0.5s ease 0s;
    width: 50%;
    float:left;
    
}

#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    
    width: 100%;
}

#blog .container-blog .blog-small {
    background: #171c26 none repeat scroll 0 0;
    float: none;
    height:auto;
    width: 100%;
    display: table;
}
#footer .container-footer .footer-top-left{display: none;}
#footer .container-footer .footer-top-right{float: none;width: 96%;margin-left: 5px;margin-right: 5px;}
#footer .container-footer .footer-content {display: none;}
#blog .container-blog .blog-small .box-blog-small .title-box-blog-smail p {
    line-height: 1.5;
    padding: 2em 0.3em 1em;
}
}
@media screen and (min-width:640px) and (max-width:767px){

    #menu {display: none;}
    #slideshow{width: 100%;}
    .top-content .top-content-left {float: left;margin-top: 15px;padding-left: 5px;margin-top: 47px;}
.top-content .top-content-logo {float: left;margin-left: 85px;padding-right: 5px;margin-top: 22px;display: none;}
.top-content .top-content-right  {float:right;margin-top: 41px;display: none;}
    #houses .houses_list {width: 100%;margin: 0 auto;display: table;}
    #houses .houses_list .box-house {width: 48%;height: auto;border-radius: 5px;margin-top: 45px;background: #fff;float: left;margin-left:0.6em;}
    #houses .houses_list .box-house .houses-images { width:100%;height: auto;float: none;}
    #houses .houses_list .box-house .houses-images img {width: 100%;}
    #houses .houses_list .box-house .houses-title {width:100%;height: auto;float: none;}
    #contact .container-contact {width: 100%;display: table;margin: 0 auto;}
    #contact .container-contact .container-contact-left {margin-right: 1.06383%; width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact {width: 100%;height: auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box {width:30%;height: auto;background: #fff;transition: all 0.5s;transform: translate(0px,0px);margin-right: 10px;margin-bottom: 60px;margin-left:0px;float: left;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact {width: 50%;height: 188px;margin: 0 auto;}
#contact .container-contact .container-contact-left .box-contact .box-contact-box  .images-contact img {width: 100%;border-radius: 50%;margin-top: 18px;}
.title-contact{width:100%;text-align: center;}

#contact .container-contact .container-contact-right { width: 100%;height: auto;}
#blog .container-blog .blog-show{float: none;width: 100%;}

#blog .container-blog .blog-small {background: #171c26 none repeat scroll 0 0;float: none;min-height: 222px;width: 100%;}

#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    float:none;width:100%;
}

#blog .container-blog .blog-small .box-blog-small .title-box-blog-smail {
    float: left;
    height: auto;
    width: 100%;
}
.blog-small .box-blog-small {
    display: table;
    transition: all 0.5s ease 0s;
    width: 50%;
    float:left;
    
}

#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    
    width: 100%;
}

#blog .container-blog .blog-small {
    background: #171c26 none repeat scroll 0 0;
    float: none;
    height:auto;
    width: 100%;
    display: table;
}
#footer .container-footer .footer-top-left{display: none;}
#footer .container-footer .footer-top-right{float: none;width: 96%;margin-left: 5px;margin-right: 5px;}
#footer .container-footer .footer-content {display: none;}
#blog .container-blog .blog-small .box-blog-small .title-box-blog-smail p {
    line-height: 1.5;
    padding: 2em 0.3em 1em;
}
.nivo-controlNav {
    bottom: -30px;
    height: 14px;
    left: -113px;
    position: absolute;
    text-align: center;
    top: 568px;
    width: 867px;
    
}
}
@media screen and (min-width:768px) and (max-width:1000px){

   
    .nivo-controlNav {
    bottom: -37px;
    height: 14px;
    left: -40px;
    position: absolute;
    text-align: center;
    top: 568px;
    width: 867px;
    
}

#houses .houses_list {
    display: table;
    margin: 0 auto;
    max-width: 100%;
}
#houses .houses_list .box-house {
  
    width: 45.826%;
}
#houses .houses_list .box-house .houses-title {
   
    padding-bottom: 3em;
   
}
#houses .houses_list .box-house .houses-images {
    float: left;
    height: auto;
    width: 100%;
}
#houses .houses_list .box-house .houses-images img {
    width:95%;margin-left: 0.65em;margin-top: 0.65em;
}

#contact .container-contact .container-contact-left .box-contact {
    height: auto;
    width: 100%;
   
}

#contact .container-contact .container-contact-left .box-contact .box-contact-box {
  
    width: 28%;
}

#contact .container-contact .container-contact-left .box-contact .box-contact-box .images-contact {
    height: 188px;
    margin: 0 auto;
    width: 100%;
}

#contact .container-contact .container-contact-left .box-contact .box-contact-box .images-contact img {
    border-radius: 50%;
    margin-left: 0.65em;
    margin-top: 18px;
    width: 90%;
}
#blog .container-blog .blog-small .box-blog-small .images-box-blog-smail {
    float: left;
    height: 222px;
    width: 50%;
}
#blog .container-blog .blog-small .box-blog-small .title-box-blog-smail {
    float: left;
    height: auto;
    width: 48%;
}

#footer .container-footer .footer-top-right {
    float: right;
    margin-left: -0.936%;
    margin-right: 11px;
    width: 38.426%;
}
}
@media screen and (min-width:1001px) and (max-width:1024px){

    .nivo-controlNav {
    bottom: -37px;
    height: 14px;
    left: 94px;
    position: absolute;
    text-align: center;
    top: 568px;
    width: 867px;
    }
}



